In [5]:
import pandas

names = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status", 
         "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", 
         "hours_per_week", "native_country", "high_income"]
income = pandas.read_csv("income.csv", header=None, names=names, index_col=False)
print(income.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country high_income
0          2174             0              40   United-States       <=50K
1             0             0              13   United-States       <=50K
2             0             0              40   United-States       <=50K
3             0             0              40   United-States       <=50K
4             0             0              40            Cuba       <=50K

In [6]:
# Convert the categorical variables in our dataset to numeric variables
# We can use the Categorical.from_array method from Pandas to perform the conversion to numbers
convert_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 
                'race', 'sex', 'native_country', 'high_income']
for column in convert_list:
    col = pandas.Categorical.from_array(income[column])
    income[column] = col.codes
    print(income[column].head())

0    7
1    6
2    4
3    4
4    4
Name: workclass, dtype: int8
0     9
1     9
2    11
3     1
4     9
Name: education, dtype: int8
0    4
1    2
2    0
3    2
4    2
Name: marital_status, dtype: int8
0     1
1     4
2     6
3     6
4    10
Name: occupation, dtype: int8
0    1
1    0
2    1
3    0
4    5
Name: relationship, dtype: int8
0    4
1    4
2    4
3    2
4    2
Name: race, dtype: int8
0    1
1    1
2    1
3    1
4    0
Name: sex, dtype: int8
0    39
1    39
2    39
3    39
4     5
Name: native_country, dtype: int8
0    0
1    0
2    0
3    0
4    0
Name: high_income, dtype: int8

In [8]:
# Compute the entropy of the high_income column in the income dataframe
import math

high_income = sum(income['high_income'] == 1)
total = income.shape[0]
high_ratio = high_income / total
low_ratio = 1 - high_ratio
income_entropy = - (high_ratio * math.log(high_ratio, 2) + low_ratio * math.log(low_ratio, 2))

print(income_entropy)

0.796383955202